<!doctype html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/nav.ejs') %> 
    <h1>Hello, world!</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Account</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(item => { %>
                <tr>
                    <th scope="row">3</th>
                    <td><%= item.fn %> </td>
                    <td><%= item.ln %></td>
                    <td><%= item.ac %></td>
                    <td>
                        <ion-icon name="eye-outline" style="cursor: pointer;"></ion-icon>
                        <ion-icon name="create-outline" style="cursor: pointer;"></ion-icon>
                        <ion-icon name="trash-outline" style="cursor: pointer;"></ion-icon>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>